---
import Layout from "../../layouts/Layout.astro";
import { Rss, ArrowRight } from "@lucide/astro";

import CardBlog from "../../components/ui/CardBlog.astro"; // ejem : <CardBlog nombreArchivo="hello-world.md" titulo="Hello World" fecha="2024-05-22" descripcion="Hola Mundo" numeroCapitulo="01" />
---

<Layout
  title="Blog Tech - Descubre lo mejor de las tecnologías."
  description="Hola Soy Epadev te invito a descrubrir las últimas tendencias y avances en tecnologías de vanguardia."
>
  <section class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 pt-10 text-gray-800 dark:text-gray-200">
    <div class="max-w-3xl mx-auto">
      <h1 class="text-3xl font-bold mb-8 flex items-center gap-2">
        Blogs
        <Rss class="w-5 h-5 text-orange-500" />
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        <CardBlog
          nombreArchivo="docker/introduccion"
          titulo="Docker: Introducción"
          fecha="2026-01-28"
          descripcion="Docker es una tecnología de contenedores que permite crear y ejecutar aplicaciones de manera sencilla y eficiente."
          numeroCapitulo="00"
          linkImagen="https://1000logos.net/wp-content/uploads/2021/11/Docker-Logo-2013.png"
        />

        <CardBlog
          nombreArchivo="docker/inicio"
          titulo="Docker: Guía de Inicio"
          fecha="2026-01-28"
          descripcion="Todo lo que necesitas para arrancar, crear y limpiar contenedores sin perder la cabeza en la terminal."
          numeroCapitulo="01"
          linkImagen="https://1000logos.net/wp-content/uploads/2021/11/Docker-Logo-2013.png"
        />

        <CardBlog
          nombreArchivo="docker/volumenes"
          titulo="Docker Volumes: Persistencia de Datos"
          fecha="2026-01-28"
          descripcion="Los contenedores tienen amnesia. Aprende a usar Volúmenes y Bind Mounts para que tu base de datos sobreviva al reinicio."
          numeroCapitulo="02"
          linkImagen="https://1000logos.net/wp-content/uploads/2021/11/Docker-Logo-2013.png"
        />

        <CardBlog
          nombreArchivo="docker/networking"
          titulo="Docker Networking: Conectando Contenedores"
          fecha="2026-01-28"
          descripcion="Olvídate de las IPs hardcodeadas. Aprende a comunicar tus servicios, exponer puertos y entender la magia del DNS interno de Docker."
          numeroCapitulo="03"
          linkImagen="https://1000logos.net/wp-content/uploads/2021/11/Docker-Logo-2013.png"
        />

      </div>
    </div>
  </section>
</Layout>
